<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/apropos.css">
</head>
<body>
    <%- include ("../pages/tete.ejs") %>

    <div class="case">
        <div class="case session-1 mg-20 c-f-d">
            <div class="slider-case-img">
                <div class="slider-img">
                    <img src="../images/concours.jpg" alt="">
                    <img src="../images/concours-1.jpg" alt="">
                    <img src="../images/concours.jpg" alt="">
                    <img src="../images/concours.jpg" alt="">
                    <img src="../images/concours.jpg" alt="">
                </div>
            </div>
            <h1>INSTITUT SAINT JOSEPH DE TIASSALE</h1>
            <h3>ETABLISSEMENT D’ENSEIGNEMENT GENERAL, TECHNIQUE & PROFESSIONNEL</h3>
        </div>
        <div class="case session-2 mg-20">
            <div class="case-g mg-20"><h3 class="apropos-text t-c">A propos</h3></div>
            <p class="t-c mg-20">Le lycée privé Michelet a été fondé en 1954 par Michel Pinder et dirigé sous sa direction jusqu’en 2014. Ce n’est qu’en 1988 que Michel Pinder a pris la décision d’ouvrir une classe pilote de 6ème/5ème destinée aux enfants intellectuellement précoces, rencontrant un succès immédiat. L’année suivante, une classe de 4ème/3ème a été introduite, marquant ainsi l’établissement d’un cycle complet de lycée. Plus récemment, sous l’impulsion de Xave et Pierre Schorter, qui ont pris la direction en juin 2014, un primaire a été ajouté, enrichissant davantage l’offre éducative de Michelet.</p>
            <p class="t-c">Depuis sa fondation, le lycée privé Michelet de Nice s’est distingué par son engagement envers une éducation de qualité et une constante innovation pédagogique. L’initiative de 1988, avec l’introduction des classes spécifiques pour les enfants intellectuellement précoces, a représenté un tournant significatif dans l’histoire de l’établissement à Nice. Sous la direction dynamique de Xave et Pierre Schorter depuis 2014, l’école a consolidé son héritage tout en embrassant de nouvelles initiatives éducatives pour répondre aux besoins émergents de ses élèves. Intégrant les dernières avancées technologiques dans ses pratiques pédagogiques et élargissant son offre éducative pour inclure un niveau primaire, le Lycée Michelet demeure à la pointe de l’enseignement privé à Nice, préparant les jeunes à devenir des citoyens responsables et compétents, prêts à affronter les défis du monde moderne.</p>
        </div>
    </div>

    <script src="../js/script.js"></script>
</body>
</html>