<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <%- include ("../pages/tete.ejs") %>

    <div class="case">
        
        <div class="case session-1">
            <div class="case-p case-text">
                <h1 class="h1-rsp">EDUCATION SCOLAIRE <br> POUR VOS ENFANTS</h1>
                <h3>UN NOUVEL ETABLISSEMENT D’ENSEIGNEMENT GENERAL, TECHNIQUE  & PROFESSIONNEL</h3>
                <p>L’Institut Saint Joseph offre des formations  diplômântes,  en  Enseignement Général, en  Enseignement Technique, Enseignement Professionnel,  et des Formations Qualifiantes.</p>
                <p>Cet établissement ouvre cette année 2024-2025 avec trois domaines de formation essentiellement dans le secondaire. Cet établissement est située au quartier résidentiel.</p>
                <div class="btns">
                    <a href="" class="btn">S'inscrire maintenant !</a>
                    <a href="" class="btn">Contactez-nous</a>
                </div>
                <p>Renseignements et inscriptions à  L' INSTITUT SAINT JOSEPH  , BP 285  TIASSALE, sis au quartier  résidentiel</p>
                <!---<p>institusainjoseph@gmail.com</p>
                <p>Tél:  23 57 54 81  / Cél: 07 92 32 63 - 09 18 78 20 - 67  53  10 11</p>--->
            </div>
            <div class="case-p case-img">
                <div class="img">
                    <img src="../images/jeune-tutrice-afro-americaine-fiere-cahiers-main-leve-stylo_580432-1000_prev_ui.png" alt="">
                </div>
            </div>
        </div>
    
        <div class="case session-2">
            <div class="case-g mg-20"><h3 class="rentre-text t-c">Rentrée Academique</h3></div>
            <div class="case">
                <div class="case-p case-img c-c">
                    <div class="img">
                        <img src="../images/bureau-femme-noire-sourire.png" alt="">
                    </div>
                </div>
                <div class="case-p case-text c-c">
                    <p>Bienvenue à L' INSTITUT SAINT JOSEPH. C’est avec une grande joie que nous entamons cette nouvelle année scolaire ensemble. Notre mission est de créer un environnement où chaque enfant peut s’épanouir, apprendre et grandir. Nous nous engageons à offrir une éducation de qualité qui tient compte des besoins individuels de chaque élève. Je vous souhaite à tous une année scolaire pleine de découvertes, de succès et de bonheur. Travaillons ensemble pour faire de L' INSTITUT SAINT JOSEPH un lieu où chaque enfant se sent valorisé et encouragé.</p>
                </div>
            </div>
        </div>
    
        <div class="case session-3 mg-20">
            <div class="case-g mg-20"><h3 class="formation-text t-c">Nos formations</h3></div>
            <div class="case-grid">
    
                <div class="grid ombre">
                    <img src="../images/enseignemant-general.jpg" alt="">
                    <h3>Enseignement Général  ( Préparation du  BEPC ET DU BACCALAUREAT )</h3>
                    <ul>
                        <li>- De la 6è à la Terminale</li>
                        <li>- Au second degré nous offrons des formations en série  (  A, D , C )</li>
                    </ul>
                </div>
    
                <div class="grid ombre">
                    <img src="../images/enseignemant-technic.jpg" alt="">
                    <h3>Enseignement Technique second degré  ( 2è , 1 ère & Terminales ) ( Préparation du BACCALAUREAT TECHNIQUE )</h3>
                    <ul>
                        <li>- Secrétariat Bureautique, série G1</li>
                        <li>- Sciences et  économiques et sociales, séries B</li>
                        <li>- Comptabilité et Gestion,  série G2.</li>
                        <li>- Baccalauréat de Technicien (  B, G1, G2 ).</li>
                    </ul>
                </div>
    
                <div class="grid ombre">
                    <img src="../images/enseignemant-pro.png" alt="">
                    <h3>Enseignement Professionnel ( Préparation BEP et du BT )</h3>
                    <ul>
                        <li>- BEP secrétariat 1ére et 2è année</li>
                        <li>- BEP comptabilité  1ére et  2 è  année </li>
                    </ul>
                </div>
    
                <div class="grid ombre">
                    <img src="../images/formation-califiante.png" alt="">
                    <h3>Formations Qualifiantes</h3>
                    <ul>
                        <li>- Initiation à l’informatique</li>
                        <li>- Maintenance informatique & réseaux</li>
                        <li>- Electricité & Electronique</li>
                        <li>- Aide-Soignant (e)</li>
                        <li>- Aide Assistante social</li>
                        <li>- Technicien Bureautique</li>
                        <li>- Caissières</li>
                        <li>- Auxiliaires en pharmacie</li>
                    </ul>
                </div>
    
            </div>
        </div>
    
        <div class="case session-4 mg-20 c-f-d">
            <div class="slider-case-img">
                <div class="slider-img">
                    <img src="../images/concours.jpg" alt="">
                    <img src="../images/concours-1.jpg" alt="">
                    <img src="../images/concours.jpg" alt="">
                    <img src="../images/concours.jpg" alt="">
                    <img src="../images/concours.jpg" alt="">
                </div>
            </div>
            <h1>CONCOURS DIRECT & PROFESSIONNEL</h1>
            <h3>Cours de préparation aux concours d'entrée à l'ENA et CAFOP - INFS 2024 - 2025</h3>
            <h3>POUR TOUS LES CYCLES (MOYEN  -  MOYEN SUPERIEUR - SUPERIEUR)</h3>
            <p>Aujourd'hui, le succès aux concours est le résultat d'une bonne préparation</p>
            <div class="btns">
                <a href="" class="btn">Concours</a>
                <a href="" class="btn">Plus d'info</a>
            </div>
        </div>

        <div class="session-5 case mg-20">
            <div class="case-m mg-20">
                <h3 class="result-text t-c mg-20">Nos Résultats</h3>
                <div class="case-m c-c"><p class="text-resume-result">Découvrez les brillants résultats du baccalauréat 2023 et du brevet des collèges obtenus par nos élèves au lycée privé Michelet. Nous félicitons chaleureusement nos jeunes talents pour leurs performances exceptionnelles lors des concours lycéens et collégiens, témoignant de leur engagement et de leur préparation rigoureuse. À travers notre engagement pour l’excellence académique, nous sommes fiers de voir nos élèves réussir avec succès ces étapes clés de leur parcours scolaire.</p></div>
            </div>
            <div class="case-m case-result">

                <details>
                    <summary>BACCALAUREAT - SESSION 2024</summary>
                    <ul class="mg-20">
                        <li>Nous affichons 100% de réussite.</li>
                        <li>Nous relevons 20 % mentions TB 50 % mentions B ou TB, 75 % mention.</li>
                        <li>Moyenne générale : 13,77</li>
                        <li>Moyenne en Mathématiques : 16,28</li>
                        <li>Moyenne de Physique-Chimie : 12,81</li>
                        <li>Moyenne en anglais : 14,65</li>
                        <li>Moyenne en Espagnol : 14,69</li>
                    </ul>
                    <p>Nous relevons les moyennes générales suivantes</p>
                    <p>Luc Duong : 17,49 (20 en mathématiques, 19 en anglais, 18 en physique, musique, EMC, enseignement scientifique et au Grand oral)</p>
                    <p>Lison Tassy : 17,10 (20 en enseignement scientifique et EMC, 19 en mathématiques et en philosophie, 18 en anglais et en espagnol)</p>
                    <p>Félicitation à Léo Lalou pour son 19 en mathématiques, à Grégoire Virantin pour son 19 en mathématiques expertes et son 20 en anglais, à Axel Robert pour son 19 en philosophie et à Henri Aubin pour son 19 en anglais.</p>
                </details>

                <details>
                    <summary>BACCALAUREAT - SESSION 2024</summary>
                    <ul class="mg-20">
                        <li>Nous affichons 100% de réussite.</li>
                        <li>Nous relevons 20 % mentions TB 50 % mentions B ou TB, 75 % mention.</li>
                        <li>Moyenne générale : 13,77</li>
                        <li>Moyenne en Mathématiques : 16,28</li>
                        <li>Moyenne de Physique-Chimie : 12,81</li>
                        <li>Moyenne en anglais : 14,65</li>
                        <li>Moyenne en Espagnol : 14,69</li>
                    </ul>
                    <p>Nous relevons les moyennes générales suivantes</p>
                    <p>Luc Duong : 17,49 (20 en mathématiques, 19 en anglais, 18 en physique, musique, EMC, enseignement scientifique et au Grand oral)</p>
                    <p>Lison Tassy : 17,10 (20 en enseignement scientifique et EMC, 19 en mathématiques et en philosophie, 18 en anglais et en espagnol)</p>
                    <p>Félicitation à Léo Lalou pour son 19 en mathématiques, à Grégoire Virantin pour son 19 en mathématiques expertes et son 20 en anglais, à Axel Robert pour son 19 en philosophie et à Henri Aubin pour son 19 en anglais.</p>
                </details>

                <details>
                    <summary>BACCALAUREAT - SESSION 2024</summary>
                    <ul class="mg-20">
                        <li>Nous affichons 100% de réussite.</li>
                        <li>Nous relevons 20 % mentions TB 50 % mentions B ou TB, 75 % mention.</li>
                        <li>Moyenne générale : 13,77</li>
                        <li>Moyenne en Mathématiques : 16,28</li>
                        <li>Moyenne de Physique-Chimie : 12,81</li>
                        <li>Moyenne en anglais : 14,65</li>
                        <li>Moyenne en Espagnol : 14,69</li>
                    </ul>
                    <p>Nous relevons les moyennes générales suivantes</p>
                    <p>Luc Duong : 17,49 (20 en mathématiques, 19 en anglais, 18 en physique, musique, EMC, enseignement scientifique et au Grand oral)</p>
                    <p>Lison Tassy : 17,10 (20 en enseignement scientifique et EMC, 19 en mathématiques et en philosophie, 18 en anglais et en espagnol)</p>
                    <p>Félicitation à Léo Lalou pour son 19 en mathématiques, à Grégoire Virantin pour son 19 en mathématiques expertes et son 20 en anglais, à Axel Robert pour son 19 en philosophie et à Henri Aubin pour son 19 en anglais.</p>
                </details>

                <details>
                    <summary>BACCALAUREAT - SESSION 2024</summary>
                    <ul class="mg-20">
                        <li>Nous affichons 100% de réussite.</li>
                        <li>Nous relevons 20 % mentions TB 50 % mentions B ou TB, 75 % mention.</li>
                        <li>Moyenne générale : 13,77</li>
                        <li>Moyenne en Mathématiques : 16,28</li>
                        <li>Moyenne de Physique-Chimie : 12,81</li>
                        <li>Moyenne en anglais : 14,65</li>
                        <li>Moyenne en Espagnol : 14,69</li>
                    </ul>
                    <p>Nous relevons les moyennes générales suivantes</p>
                    <p>Luc Duong : 17,49 (20 en mathématiques, 19 en anglais, 18 en physique, musique, EMC, enseignement scientifique et au Grand oral)</p>
                    <p>Lison Tassy : 17,10 (20 en enseignement scientifique et EMC, 19 en mathématiques et en philosophie, 18 en anglais et en espagnol)</p>
                    <p>Félicitation à Léo Lalou pour son 19 en mathématiques, à Grégoire Virantin pour son 19 en mathématiques expertes et son 20 en anglais, à Axel Robert pour son 19 en philosophie et à Henri Aubin pour son 19 en anglais.</p>
                </details>

                <details>
                    <summary>BACCALAUREAT - SESSION 2024</summary>
                    <ul class="mg-20">
                        <li>Nous affichons 100% de réussite.</li>
                        <li>Nous relevons 20 % mentions TB 50 % mentions B ou TB, 75 % mention.</li>
                        <li>Moyenne générale : 13,77</li>
                        <li>Moyenne en Mathématiques : 16,28</li>
                        <li>Moyenne de Physique-Chimie : 12,81</li>
                        <li>Moyenne en anglais : 14,65</li>
                        <li>Moyenne en Espagnol : 14,69</li>
                    </ul>
                    <p>Nous relevons les moyennes générales suivantes</p>
                    <p>Luc Duong : 17,49 (20 en mathématiques, 19 en anglais, 18 en physique, musique, EMC, enseignement scientifique et au Grand oral)</p>
                    <p>Lison Tassy : 17,10 (20 en enseignement scientifique et EMC, 19 en mathématiques et en philosophie, 18 en anglais et en espagnol)</p>
                    <p>Félicitation à Léo Lalou pour son 19 en mathématiques, à Grégoire Virantin pour son 19 en mathématiques expertes et son 20 en anglais, à Axel Robert pour son 19 en philosophie et à Henri Aubin pour son 19 en anglais.</p>
                </details>

            </div>

            <div class="case-p case-img">
                <div class="img">
                    <img src="../images/bureau-femme-noire-sourire.png" alt="">
                </div>
            </div>
        </div>

        <div class="session-5 case ombre">
            <div class="case-m mg-20">
                <h3 class="result-text t-c mg-20">Nous contactez</h3>
                <h3 class="t-c mg-20">Les entretiens d’admissibilité sont possibles en présentiel</h3>
                <div class="case-m c-c">
                    <p class="text-resume-result">L’accueil téléphonique se fait du lundi au vendredi de 9 heures à 17 heures
                        y compris pendant les vacances scolaires.
                        N’hésitez pas à venir à notre rencontre en prenant rendez-vous.
                        Il est possible d’intégrer Michelet en cours d’année.</p>
                </div>
            </div>
            <div class="case-g c-c">
                <div class="btns-s case">
                    <div class="btns case-p">
                        <a href="" class="btn ombre"><span class="icons"><img src="../ions/marker.svg" alt="" class="icon"></span></a>
                        <h4>Adresse</h4>
                        <p class="t-c">INSTITUT SAINT JOSEPH DE TIASSALE</p>
                    </div>

                    <div class="btns case-p">
                        <a href="" class="btn ombre"><span class="icons"><img src="../ions/envelope.svg" alt="" class="icon"></span></a>
                        <h4>Email</h4>
                        <p class="t-c">institusainjoseph@gmail.com</p>
                    </div>
                    <div class="btns case-p">
                        <a href="" class="btn ombre"><span class="icons"><img src="../ions/phone-call.svg" alt="" class="icon"></span></a>
                        <h4>Téléphone</h4>
                        <p class="t-c">Tél: 23 57 54 81 <br>Cél: 07 92 32 63 - 09 18 78 20 - 67 53 10 11</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../js/script.js"></script>
</body>
</html>