<nav class="nav-hoz ombre">
    <span class="icons hamburger-admin"><img src="../ions/menu-burger.svg" alt="" class="icon menu-burger"></span>
    <ul class="menu admin">
        <li><a href=""><span class="icons"><img src="../ions/envelopes.svg" alt="" class="icon"></span><div class="index color">8</div></a></li>
        <li><a href=""><span class="icons"><img src="../ions/bell.svg" alt="" class="icon"></span><div class="index color">99</div></a></li>
        <li><a href="" class="profil-contour"><span class="icons profil"><img src="../ions/user.svg" alt="" class="icon"></span><div class="txt"></div></a></li>
        <li><a href=""><span class="icons"><img src="../ions/settings.svg" alt="" class="icon"></span></a></li>
    </ul>
</nav>