<nav class="nav-vrt ombre">
    <div class="logo">LOGO</div>
    <ul class="menu">
        <li><a href="/admin"><span class="icons"><img src="../ions/objects-column.svg" alt="" class="icon objects-column"></span><text>Dashboard</text></a></li>
        <li><a href=""><span class="icons"><img src="../ions/calendar.svg" alt="" class="icon procedures"></span><text>Emplois du temps</text></a></li>
        <li><a href=""><span class="icons"><img src="../ions/workshop(1).svg" alt="" class="icon user-md"></span><text>Enseignants</text></a></li>
        <li><a href=""><span class="icons"><img src="../ions/user-graduate.svg" alt="" class="icon user-graduate"></span><text>Elèves</text></a></li>
        <li><a href=""><span class="icons"><img src="../ions/credit-card-buyer.svg" alt="" class="icon user-md"></span><text>Comptabilité</text></a></li>
        <li><a href=""><span class="icons"><img src="../ions/newspaper.svg" alt="" class="icon newspaper"></span><text>Actualités</text></a></li>
        <li><a href="/rh"><span class="icons"><img src="../ions/hr.svg" alt="" class="icon rh"></span><text>RH</text></a></li>
        <li><a href=""><span class="icons"><img src="../ions/folder-open.svg" alt="" class="icon folder-open"></span><text>Archives</text></a></li>
        <li><a href="/login"><span class="icons"><img src="../ions/address-card.svg" alt="" class="icon address-card"></span><text>Deconnection</text></a></li>
    </ul>
</nav>