<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="../css/style 1.1.css">
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="case-grid c-c">
        <div class="case-p c-c-v">
            <div class="case session-form ombre cl-g">
                <h1>S'Enregistrer</h1>
                <p>Inscrivez-vous en saisissant les informations ci-dessous</p>
                <form action="" class="form">
                    <input type="text" name="nom_prenoms" id="" placeholder="Entrer votre nom & prénoms...">
                    <input type="email" name="email" id="" placeholder="Entrer votre email...">
                    <input type="password" name="mdp" id="" placeholder="Entrer votre mot de passe...">
                    <input type="password" name="cmdp" id="" placeholder="Confirmer votre mot de passe...">
                    <input type="submit" value="S'inscrire" class="btn btn-bl">
                </form>
                <p>Je n'ai pas de compte <a href="./login" class="btn">Se connecter</a></p>
            </div>
        </div>
    </div>
</body>
</html>