<nav class="nav-hoz">
    <div class="logo">LOGO</div>
    <ul class="menu">
        <li><a href="./home">Accueil</a></li>
        <li><a href="./apropos">Presentation</a></li>
        <li><a href="">Guides & Politiques</a></li>
        <li><a href="./actualite">Actualités</a></li>
        <li><a href="./galerie">Galerie</a></li>
        <li><a href="">Espace Elèves</a></li>
        <li><a href="">Espace Parents</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="./login" class="btn">Connexion</a></li>
    </ul>
    <span class="hamburger"><img src="../ions/menu-burger.svg" alt="" class="icons menu-burger"></span>
</nav>